{% extends "blog/base.html" %}
{% block content %}
    <div class="about-container container">
        <div class="image-1">
            <img src="{{ MEDIA_URL }}photo_about1.2.jpg" alt="Описание первого фото" class="image-about1">
        </div>
        <div class="image-2">
            <img src="{{ MEDIA_URL }}photo_about2.1.png" alt="Описание первого фото" class="image-about2">
        </div>
        <div class="image-3">
            <img src="{{ MEDIA_URL }}photo_about5.1.jpg" alt="Описание первого фото" class="image-about3">
        </div>
        <div class="image-4">
            <img src="{{ MEDIA_URL }}photo_about1.3.jpg" alt="Описание первого фото" class="image-about3">
        </div>
        <div class="text-about">
            <h1 class="custom-title">Lorem Ipsum</h1>
            <p class="custom-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris id erat mauris.
                Fusce sodales tempor lectus, non finibus massa condimentum id. Praesent eu diam accumsan, gravida
                odio at, ultricies mi. Cras dictum hendrerit ante, vitae porttitor ex lobortis sed. Praesent orci
                quam, tempus ac hendrerit varius, luctus id mi. Class aptent taciti sociosqu ad litora torquent per
                conubia nostra, per inceptos himenaeos. Praesent quis viverra purus, sit amet hendrerit turpis.
                Phasellus ante arcu, varius eget eleifend id, dapibus sit amet sem. Sed mollis diam eu dolor
                tincidunt semper. In faucibus lectus eros, at mattis purus rhoncus ac.

                Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Lorem ipsum
                dolor sit amet, consectetur adipiscing elit. Sed ultrices nisl in fringilla imperdiet. Nunc varius
                vitae diam eu commodo. Aenean orci magna, volutpat id sodales vitae, semper et ante. Suspendisse nec
                feugiat augue. Vivamus pharetra sollicitudin diam ut consequat. Vestibulum venenatis, dolor nec
                finibus accumsan, sem sem pellentesque mi, in accumsan eros erat et arcu.

                Curabitur fringilla erat ac elit venenatis vestibulum. Integer a neque a massa ultricies porta sit
                amet et felis. In hac habitasse platea dictumst. Mauris tristique porta leo id condimentum. Praesent
                nec arcu convallis ex consequat elementum ut vel nisi. Sed ac finibus diam, id feugiat sapien.
                Integer metus magna, varius quis erat iaculis, fermentum iaculis ante. Nulla fermentum porta dui
                vitae volutpat.

                Ut fringilla feugiat dolor nec tincidunt. Donec est turpis, ultrices sit amet lacinia ut, elementum
                ut leo. Aenean semper tellus sed feugiat tempus. Curabitur non nulla ultricies, lobortis nulla a,
                posuere enim. Phasellus viverra urna id ullamcorper imperdiet. Nullam luctus odio id sagittis
                auctor. Vivamus gravida, magna ut dapibus tempor, nibh felis interdum odio, a elementum elit diam
                posuere quam. Sed eros ante, finibus non dictum nec, faucibus eget est.
            </p>
        </div>
    </div>
{% endblock content %}